In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [10]:
import pandas as pd

data = {
    'date': ['21-07-2025', '22-07-2025', '23-07-2025', '24-07-2025', '25-07-2025', '26-07-2025', '27-07-2025', '28-07-2025', '29-07-2025', '30-07-2025'],
    'attendance': [1, 0, 1, 0, 1, 1, 1, 0, 0, 1]
}

df = pd.DataFrame(data)

absent_days = (df['attendance'] == 0).sum()

print(df)
print("\nNumber of absent days:", absent_days)

         date  attendance
0  21-07-2025           1
1  22-07-2025           0
2  23-07-2025           1
3  24-07-2025           0
4  25-07-2025           1
5  26-07-2025           1
6  27-07-2025           1
7  28-07-2025           0
8  29-07-2025           0
9  30-07-2025           1

Number of absent days: 4

In [9]:
import pandas as pd

data = {
    'date': ['21-07-2025', '22-07-2025', '23-07-2025', '24-07-2025', '25-07-2025', '26-07-2025', '27-07-2025', '28-07-2025', '29-07-2025', '30-07-2025'],
    'sita': [1, 0, 1, 1, 0, 1, 1, 1, 0, 1],
    'gita': [1, 1, 0, 1, 1, 1, 1, 1, 1, 1],
    'rita': [1, 0, 1, 0, 1, 1, 1, 0, 0, 0],
    'mita': [1, 1, 0, 0, 1, 0, 1, 0, 1, 1],
    'sutapa': [1, 1, 0, 1, 1, 1, 1, 1, 1, 0],
    'sulata': [0, 1, 1, 0, 0, 0, 1, 1, 1, 1],
    'sujata': [1, 1, 0, 1, 0, 1, 1, 0, 0, 0]
}

df = pd.DataFrame(data)
print(df)
absent_days = (df[['sita', 'gita', 'rita', 'mita', 'sutapa', 'sulata', 'sujata']] == 0).sum()
print("\nNumber of absent days:\n",absent_days)

         date  sita  gita  rita  mita  sutapa  sulata  sujata
0  21-07-2025     1     1     1     1       1       0       1
1  22-07-2025     0     1     0     1       1       1       1
2  23-07-2025     1     0     1     0       0       1       0
3  24-07-2025     1     1     0     0       1       0       1
4  25-07-2025     0     1     1     1       1       0       0
5  26-07-2025     1     1     1     0       1       0       1
6  27-07-2025     1     1     1     1       1       1       1
7  28-07-2025     1     1     0     0       1       1       0
8  29-07-2025     0     1     0     1       1       1       0
9  30-07-2025     1     1     0     1       0       1       0

Number of absent days:
 sita      3
gita      1
rita      5
mita      4
sutapa    2
sulata    4
sujata    5
dtype: int64

In [17]:
import pandas as pd

df = pd.read_csv('student9.csv')

print(df)

    Sr. No.           Student Name  Enrolment No.  Registration No.  \
0         1               ALOK RAJ   2.310000e+12      2.300000e+11
1         2         DEBASISH GHOSH   2.310000e+12      2.300000e+11
2         3          PRATHAM GUPTA   2.310000e+12      2.300000e+11
3         4      SOUMYADEEP MONDAL   2.310000e+12      2.300000e+11
4         5          KARAN PRABHAT   2.310000e+12      2.300000e+11
5         6            SUDIP GHOSH   2.310000e+12      2.300000e+11
6         7  KANHYA KUMAR KUSHWAHA   2.310000e+12      2.300000e+11
7         8        MD NAFIUL ISLAM   2.310000e+12      2.300000e+11
8         9         SUVANKAR PARIA   2.310000e+12      2.300000e+11
9        10            ANKAN PATRA   2.310000e+12      2.300000e+11
10       11       PRASENJIT SASMAL   2.310000e+12      2.300000e+11
11       12     ROHAN KUMAR MANDAL   2.310000e+12      2.300000e+11
12       13            SURAJIT PAN   2.310000e+12      2.300000e+11
13       14           NIKITA MEHTA   2.310000e+12      2.300000e+11
14       15              SAYAK DAS   2.410000e+12      2.400000e+11
15       16           MANIDIPA DAS   2.410000e+12      2.400000e+11
16       17        KRISHNENDU SHIL   2.410000e+12      2.400000e+11
17       18            RITAM PARUI   2.310000e+12      2.300000e+11
18       19           AVIK SAMANTA   2.310000e+12      2.300000e+11
19       20         DEBASIS MAHATA   2.310000e+12      2.300000e+11
20       21           MOHIT THAKUR   2.310000e+12      2.300000e+11
21       22            SAYAK GHOSH   2.310000e+12      2.300000e+11
22       23       SUNAL KUMAR SAHA   2.310000e+12      2.300000e+11
23       24        ADRIJA KARMAKAR   2.310000e+12      2.300000e+11
24       25        ANINDITA SARKAR   2.310000e+12      2.300000e+11
25       26        ANNU KM DHURIYA   2.310000e+12      2.300000e+11
26       27            DIYA BANGAL   2.310000e+12      2.300000e+11
27       28       SHREYA CHOWDHURY   2.310000e+12      2.300000e+11

    Classes held in Operating Systems  Present in Operating Systems  \
0                                  24                            23
1                                  24                            19
2                                  24                            17
3                                  24                            16
4                                  24                            18
5                                  24                             5
6                                  24                            15
7                                  24                            19
8                                  24                            21
9                                  24                            15
10                                 24                            24
11                                 24                            11
12                                 24                            20
13                                 24                            14
14                                 24                            16
15                                 24                            24
16                                 24                            10
17                                 24                            15
18                                 24                            11
19                                 24                            18
20                                 24                            16
21                                 24                             4
22                                 24                            16
23                                 24                            24
24                                 24                            24
25                                 24                            10
26                                 24                            12
27                                 24                            24

    Attendance % in Operating Systems  \
0                               95.83
1                               79.17
2                               70.83
3                               66.67
4                               75.00
5                               20.83
6                               62.50
7                               79.17
8                               87.50
9                               62.50
10                             100.00
11                              45.83
12                              83.33
13                              58.33
14                              66.67
15                             100.00
16                              41.67
17                              62.50
18                              45.83
19                              75.00
20                              66.67
21                              16.67
22                              66.67
23                             100.00
24                             100.00
25                              41.67
26                              50.00
27                             100.00

    Classes held in Database Management System  \
0                                           18
1                                           18
2                                           18
3                                           18
4                                           18
5                                           18
6                                           18
7                                           18
8                                           18
9                                           18
10                                          18
11                                          18
12                                          18
13                                          18
14                                          18
15                                          18
16                                          18
17                                          18
18                                          18
19                                          18
20                                          18
21                                          18
22                                          18
23                                          18
24                                          18
25                                          18
26                                          18
27                                          18

    Present in Database Management System  \
0                                      14
1                                      14
2                                      12
3                                      10
4                                      14
5                                       0
6                                       8
7                                      12
8                                      12
9                                      14
10                                     18
11                                      6
12                                     14
13                                      6
14                                      6
15                                     18
16                                      2
17                                      6
18                                     12
19                                     14
20                                      6
21                                      4
22                                     18
23                                     18
24                                     16
25                                     12
26                                      2
27                                     18

    Attendance % in Database Management System  ...  \
0                                        77.78  ...
1                                        77.78  ...
2                                        66.67  ...
3                                        55.56  ...
4                                        77.78  ...
5                                         0.00  ...
6                                        44.44  ...
7                                        66.67  ...
8                                        66.67  ...
9                                        77.78  ...
10                                      100.00  ...
11                                       33.33  ...
12                                       77.78  ...
13                                       33.33  ...
14                                       33.33  ...
15                                      100.00  ...
16                                       11.11  ...
17                                       33.33  ...
18                                       66.67  ...
19                                       77.78  ...
20                                       33.33  ...
21                                       22.22  ...
22                                      100.00  ...
23                                      100.00  ...
24                                       88.89  ...
25                                       66.67  ...
26                                       11.11  ...
27                                      100.00  ...

    Classes held in Soft-Skill Development-IV  \
0                                          12
1                                          12
2                                          12
3                                          12
4                                          12
5                                          12
6                                          12
7                                          12
8                                          12
9                                          12
10                                         12
11                                         12
12                                         12
13                                         12
14                                         12
15                                         12
16                                         12
17                                         12
18                                         12
19                                         12
20                                         12
21                                         12
22                                         12
23                                         12
24                                         12
25                                         12
26                                         12
27                                         12

    Present in Soft-Skill Development-IV  \
0                                      6
1                                      9
2                                      6
3                                      9
4                                     10
5                                      3
6                                      4
7                                      9
8                                      9
9                                      7
10                                     9
11                                     3
12                                     9
13                                     4
14                                     6
15                                     9
16                                     3
17                                     6
18                                     6
19                                     9
20                                     6
21                                     3
22                                     6
23                                     9
24                                    10
25                                     6
26                                     2
27                                    10

    Attendance % in Soft-Skill Development-IV  \
0                                       50.00
1                                       75.00
2                                       50.00
3                                       75.00
4                                       83.33
5                                       25.00
6                                       33.33
7                                       75.00
8                                       75.00
9                                       58.33
10                                      75.00
11                                      25.00
12                                      75.00
13                                      33.33
14                                      50.00
15                                      75.00
16                                      25.00
17                                      50.00
18                                      50.00
19                                      75.00
20                                      50.00
21                                      25.00
22                                      50.00
23                                      75.00
24                                      83.33
25                                      50.00
26                                      16.67
27                                      83.33

     Classes held in Design Thinking  Present in Design Thinking  \
0                                 10                           6
1                                 10                           6
2                                 10                           2
3                                 10                           2
4                                 10                           6
5                                 10                           0
6                                 10                           2
7                                 10                           8
8                                 10                           6
9                                 10                           4
10                                10                           6
11                                10                           2
12                                10                           6
13                                10                           2
14                                10                           2
15                                10                           6
16                                10                           2
17                                10                           2
18                                10                           2
19                                10                           2
20                                10                           2
21                                10                           0
22                                10                           6
23                                10                           6
24                                10                           8
25                                10                           2
26                                10                           2
27                                10                           6

    Attendance % in Design Thinking  Classes held in Human Values and Ethics  \
0                                60                                        3
1                                60                                        3
2                                20                                        3
3                                20                                        3
4                                60                                        3
5                                 0                                        3
6                                20                                        3
7                                80                                        3
8                                60                                        3
9                                40                                        3
10                               60                                        3
11                               20                                        3
12                               60                                        3
13                               20                                        3
14                               20                                        3
15                               60                                        3
16                               20                                        3
17                               20                                        3
18                               20                                        3
19                               20                                        3
20                               20                                        3
21                                0                                        3
22                               60                                        3
23                               60                                        3
24                               80                                        3
25                               20                                        3
26                               20                                        3
27                               60                                        3

    Present in Human Values and Ethics  \
0                                    3
1                                    2
2                                    1
3                                    2
4                                    2
5                                    0
6                                    2
7                                    3
8                                    3
9                                    1
10                                   3
11                                   1
12                                   2
13                                   2
14                                   2
15                                   3
16                                   1
17                                   2
18                                   1
19                                   2
20                                   2
21                                   0
22                                   0
23                                   3
24                                   3
25                                   0
26                                   1
27                                   3

    Attendance % in Human Values and Ethics  Average Attendance
0                                    100.00               65.27
1                                     66.67               80.01
2                                     33.33               62.32
3                                     66.67               59.22
4                                     66.67               75.23
5                                      0.00               19.85
6                                     66.67               38.64
7                                    100.00               77.94
8                                    100.00               82.57
9                                     33.33               57.42
10                                   100.00               85.14
11                                    33.33               55.69
12                                    66.67               85.31
13                                    66.67               36.29
14                                    66.67               45.68
15                                   100.00               86.50
16                                    33.33               36.82
17                                    66.67               50.29
18                                    33.33               62.68
19                                    66.67               72.40
20                                    66.67               57.81
21                                     0.00               24.62
22                                     0.00               60.82
23                                   100.00               82.37
24                                   100.00               90.90

In [18]:
df.head()

,Sr. No.,Student Name,Enrolment No.,Registration No.,Classes held in Operating Systems,Present in Operating Systems,Attendance % in Operating Systems,Classes held in Database Management System,Present in Database Management System,Attendance % in Database Management System,...,Classes held in Soft-Skill Development-IV,Present in Soft-Skill Development-IV,Attendance % in Soft-Skill Development-IV,Classes held in Design Thinking,Present in Design Thinking,Attendance % in Design Thinking,Classes held in Human Values and Ethics,Present in Human Values and Ethics,Attendance % in Human Values and Ethics,Average Attendance
0,1,ALOK RAJ,2.310000e+12,2.300000e+11,24,23,95.83,18,14,77.78,...,12,6,50.00,10,6,60,3,3,100.00,65.27
1,2,DEBASISH GHOSH,2.310000e+12,2.300000e+11,24,19,79.17,18,14,77.78,...,12,9,75.00,10,6,60,3,2,66.67,80.01
2,3,PRATHAM GUPTA,2.310000e+12,2.300000e+11,24,17,70.83,18,12,66.67,...,12,6,50.00,10,2,20,3,1,33.33,62.32
3,4,SOUMYADEEP MONDAL,2.310000e+12,2.300000e+11,24,16,66.67,18,10,55.56,...,12,9,75.00,10,2,20,3,2,66.67,59.22
4,5,KARAN PRABHAT,2.310000e+12,2.300000e+11,24,18,75.00,18,14,77.78,...,12,10,83.33,10,6,60,3,2,66.67,75.23

In [19]:
df.describe()

,Sr. No.,Enrolment No.,Registration No.,Classes held in Operating Systems,Present in Operating Systems,Attendance % in Operating Systems,Classes held in Database Management System,Present in Database Management System,Attendance % in Database Management System,Classes held in Artificial Intelligence,...,Classes held in Soft-Skill Development-IV,Present in Soft-Skill Development-IV,Attendance % in Soft-Skill Development-IV,Classes held in Design Thinking,Present in Design Thinking,Attendance % in Design Thinking,Classes held in Human Values and Ethics,Present in Human Values and Ethics,Attendance % in Human Values and Ethics,Average Attendance
count,28.000000,2.800000e+01,2.800000e+01,28.0,28.000000,28.000000,28.0,28.000000,28.000000,28.0,...,28.0,28.000000,28.000000,28.0,28.000000,28.000000,28.0,28.000000,28.000000,28.000000
mean,14.500000,2.320714e+12,2.310714e+11,24.0,16.464286,68.601429,18.0,10.928571,60.714643,18.0,...,12.0,6.714286,55.951786,10.0,3.785714,37.857143,3.0,1.785714,59.524286,61.872143
std,8.225975,3.149704e+10,3.149704e+09,0.0,5.580934,23.253717,0.0,5.429198,30.163512,0.0,...,0.0,2.551066,21.258425,0.0,2.393775,23.937750,0.0,1.031258,34.376072,20.037150
min,1.000000,2.310000e+12,2.300000e+11,24.0,4.000000,16.670000,18.0,0.000000,0.000000,18.0,...,12.0,2.000000,16.670000,10.0,0.000000,0.000000,3.0,0.000000,0.000000,19.850000
25%,7.750000,2.310000e+12,2.300000e+11,24.0,13.500000,56.247500,18.0,6.000000,33.330000,18.0,...,12.0,5.500000,45.832500,10.0,2.000000,20.000000,3.0,1.000000,33.330000,49.137500
50%,14.500000,2.310000e+12,2.300000e+11,24.0,16.000000,66.670000,18.0,12.000000,66.670000,18.0,...,12.0,6.000000,50.000000,10.0,2.000000,20.000000,3.0,2.000000,66.670000,61.570000
75%,21.250000,2.310000e+12,2.300000e+11,24.0,20.250000,84.372500,18.0,14.000000,77.780000,18.0,...,12.0,9.000000,75.000000,10.0,6.000000,60.000000,3.0,3.000000,100.000000,80.600000
max,28.000000,2.410000e+12,2.400000e+11,24.0,24.000000,100.000000,18.0,18.000000,100.000000,18.0,...,12.0,10.000000,83.330000,10.0,8.000000,80.000000,3.0,3.000000,100.000000,90.900000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 26 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Sr. No.                                     28 non-null     int64
 1   Student Name                                28 non-null     object
 2   Enrolment No.                               28 non-null     float64
 3   Registration No.                            28 non-null     float64
 4   Classes held in Operating Systems           28 non-null     int64
 5   Present in Operating Systems                28 non-null     int64
 6   Attendance % in Operating Systems           28 non-null     float64
 7   Classes held in Database Management System  28 non-null     int64
 8   Present in Database Management System       28 non-null     int64
 9   Attendance % in Database Management System  28 non-null     float64
 10  Classes held in Artificial Intelligence     28 non-null     int64
 11  Present in Artificial Intelligence          28 non-null     int64
 12  Attendance %  in Artificial Intelligence    28 non-null     float64
 13  Classes held in Algorithm-II                28 non-null     int64
 14  Present in Algorithm-II                     28 non-null     int64
 15  Attendance % in Algorithm-II                28 non-null     float64
 16  Classes held in Soft-Skill Development-IV   28 non-null     int64
 17  Present in Soft-Skill Development-IV        28 non-null     int64
 18  Attendance % in Soft-Skill Development-IV   28 non-null     float64
 19   Classes held in Design Thinking            28 non-null     int64
 20  Present in Design Thinking                  28 non-null     int64
 21  Attendance % in Design Thinking             28 non-null     int64
 22  Classes held in Human Values and Ethics     28 non-null     int64
 23  Present in Human Values and Ethics          28 non-null     int64
 24  Attendance % in Human Values and Ethics     28 non-null     float64
 25  Average Attendance                          28 non-null     float64
dtypes: float64(9), int64(16), object(1)
memory usage: 5.8+ KB

In [21]:
df[df['Average Attendance']>=80]

,Sr. No.,Student Name,Enrolment No.,Registration No.,Classes held in Operating Systems,Present in Operating Systems,Attendance % in Operating Systems,Classes held in Database Management System,Present in Database Management System,Attendance % in Database Management System,...,Classes held in Soft-Skill Development-IV,Present in Soft-Skill Development-IV,Attendance % in Soft-Skill Development-IV,Classes held in Design Thinking,Present in Design Thinking,Attendance % in Design Thinking,Classes held in Human Values and Ethics,Present in Human Values and Ethics,Attendance % in Human Values and Ethics,Average Attendance
1,2,DEBASISH GHOSH,2.310000e+12,2.300000e+11,24,19,79.17,18,14,77.78,...,12,9,75.00,10,6,60,3,2,66.67,80.01
8,9,SUVANKAR PARIA,2.310000e+12,2.300000e+11,24,21,87.50,18,12,66.67,...,12,9,75.00,10,6,60,3,3,100.00,82.57
10,11,PRASENJIT SASMAL,2.310000e+12,2.300000e+11,24,24,100.00,18,18,100.00,...,12,9,75.00,10,6,60,3,3,100.00,85.14
12,13,SURAJIT PAN,2.310000e+12,2.300000e+11,24,20,83.33,18,14,77.78,...,12,9,75.00,10,6,60,3,2,66.67,85.31
15,16,MANIDIPA DAS,2.410000e+12,2.400000e+11,24,24,100.00,18,18,100.00,...,12,9,75.00,10,6,60,3,3,100.00,86.50
23,24,ADRIJA KARMAKAR,2.310000e+12,2.300000e+11,24,24,100.00,18,18,100.00,...,12,9,75.00,10,6,60,3,3,100.00,82.37
24,25,ANINDITA SARKAR,2.310000e+12,2.300000e+11,24,24,100.00,18,16,88.89,...,12,10,83.33,10,8,80,3,3,100.00,90.90
27,28,SHREYA CHOWDHURY,2.310000e+12,2.300000e+11,24,24,100.00,18,18,100.00,...,12,10,83.33,10,6,60,3,3,100.00,85.56

In [22]:
df[df['Average Attendance']<=60]

,Sr. No.,Student Name,Enrolment No.,Registration No.,Classes held in Operating Systems,Present in Operating Systems,Attendance % in Operating Systems,Classes held in Database Management System,Present in Database Management System,Attendance % in Database Management System,...,Classes held in Soft-Skill Development-IV,Present in Soft-Skill Development-IV,Attendance % in Soft-Skill Development-IV,Classes held in Design Thinking,Present in Design Thinking,Attendance % in Design Thinking,Classes held in Human Values and Ethics,Present in Human Values and Ethics,Attendance % in Human Values and Ethics,Average Attendance
3,4,SOUMYADEEP MONDAL,2.310000e+12,2.300000e+11,24,16,66.67,18,10,55.56,...,12,9,75.00,10,2,20,3,2,66.67,59.22
5,6,SUDIP GHOSH,2.310000e+12,2.300000e+11,24,5,20.83,18,0,0.00,...,12,3,25.00,10,0,0,3,0,0.00,19.85
6,7,KANHYA KUMAR KUSHWAHA,2.310000e+12,2.300000e+11,24,15,62.50,18,8,44.44,...,12,4,33.33,10,2,20,3,2,66.67,38.64
9,10,ANKAN PATRA,2.310000e+12,2.300000e+11,24,15,62.50,18,14,77.78,...,12,7,58.33,10,4,40,3,1,33.33,57.42
11,12,ROHAN KUMAR MANDAL,2.310000e+12,2.300000e+11,24,11,45.83,18,6,33.33,...,12,3,25.00,10,2,20,3,1,33.33,55.69
13,14,NIKITA MEHTA,2.310000e+12,2.300000e+11,24,14,58.33,18,6,33.33,...,12,4,33.33,10,2,20,3,2,66.67,36.29
14,15,SAYAK DAS,2.410000e+12,2.400000e+11,24,16,66.67,18,6,33.33,...,12,6,50.00,10,2,20,3,2,66.67,45.68
16,17,KRISHNENDU SHIL,2.410000e+12,2.400000e+11,24,10,41.67,18,2,11.11,...,12,3,25.00,10,2,20,3,1,33.33,36.82
17,18,RITAM PARUI,2.310000e+12,2.300000e+11,24,15,62.50,18,6,33.33,...,12,6,50.00,10,2,20,3,2,66.67,50.29
20,21,MOHIT THAKUR,2.310000e+12,2.300000e+11,24,16,66.67,18,6,33.33,...,12,6,50.00,10,2,20,3,2,66.67,57.81
21,22,SAYAK GHOSH,2.310000e+12,2.300000e+11,24,4,16.67,18,4,22.22,...,12,3,25.00,10,0,0,3,0,0.00,24.62
25,26,ANNU KM DHURIYA,2.310000e+12,2.300000e+11,24,10,41.67,18,12,66.67,...,12,6,50.00,10,2,20,3,0,0.00,55.79
26,27,DIYA BANGAL,2.310000e+12,2.300000e+11,24,12,50.00,18,2,11.11,...,12,2,16.67,10,2,20,3,1,33.33,39.28

In [24]:
attendance_cols = [
    'Attendance % in Operating Systems',
    'Attendance % in Database Management System',
    'Attendance % in Artificial Intelligence',
    'Attendance % in Algorithm-II',
    'Attendance % in Soft-Skill Development-IV',
    'Attendance % in Design Thinking',
    'Attendance % in Human Values and Ethics'
]

low_attendance = df[df[attendance_cols].lt(20).any(axis=1)]
low_attendance[['Student Name'] + attendance_cols]

,Student Name,Attendance % in Operating Systems,Attendance % in Database Management System,Attendance % in Artificial Intelligence,Attendance % in Algorithm-II,Attendance % in Soft-Skill Development-IV,Attendance % in Design Thinking,Attendance % in Human Values and Ethics
5,SUDIP GHOSH,20.83,0.00,27.78,23.08,25.00,0,0.00
16,KRISHNENDU SHIL,41.67,11.11,27.78,46.15,25.00,20,33.33
21,SAYAK GHOSH,16.67,22.22,16.67,23.08,25.00,0,0.00
22,SUNAL KUMAR SAHA,66.67,100.00,22.22,46.15,50.00,60,0.00
25,ANNU KM DHURIYA,41.67,66.67,72.22,46.15,50.00,20,0.00
26,DIYA BANGAL,50.00,11.11,33.33,30.77,16.67,20,33.33

In [26]:
attendance_cols = [
    'Attendance % in Operating Systems',
    'Attendance % in Database Management System',
    'Attendance %  in Artificial Intelligence',
    'Attendance % in Algorithm-II',
    'Attendance % in Soft-Skill Development-IV',
    'Attendance % in Design Thinking',
    'Attendance % in Human Values and Ethics'
]

low_attendance = df[df[attendance_cols].ge(80).all(axis=1)]
low_attendance[['Student Name'] + attendance_cols]

,Student Name,Attendance % in Operating Systems,Attendance % in Database Management System,Attendance % in Artificial Intelligence,Attendance % in Algorithm-II,Attendance % in Soft-Skill Development-IV,Attendance % in Design Thinking,Attendance % in Human Values and Ethics
24,ANINDITA SARKAR,100.0,88.89,100.0,100.0,83.33,80,100.0

In [28]:
attendance_cols = [
    'Attendance % in Operating Systems',
    'Attendance % in Database Management System',
    'Attendance %  in Artificial Intelligence',
    'Attendance % in Algorithm-II',
    'Attendance % in Soft-Skill Development-IV',
    'Attendance % in Design Thinking',
    'Attendance % in Human Values and Ethics'
]

low_attendance = df[df[attendance_cols].eq(100).all(axis=1)]
low_attendance[['Student Name'] + attendance_cols]

Empty DataFrame
Columns: [Student Name, Attendance % in Operating Systems, Attendance % in Database Management System, Attendance %  in Artificial Intelligence, Attendance % in Algorithm-II, Attendance % in Soft-Skill Development-IV, Attendance % in Design Thinking, Attendance % in Human Values and Ethics]
Index: []

In [29]:
attendance_cols = [
    'Attendance % in Operating Systems',
    'Attendance % in Database Management System',
    'Attendance %  in Artificial Intelligence',
    'Attendance % in Algorithm-II',
    'Attendance % in Soft-Skill Development-IV',
    'Attendance % in Design Thinking',
    'Attendance % in Human Values and Ethics'
]

low_attendance = df[df[attendance_cols].gt(80).all(axis=1)]
low_attendance[['Student Name'] + attendance_cols]

Empty DataFrame
Columns: [Student Name, Attendance % in Operating Systems, Attendance % in Database Management System, Attendance %  in Artificial Intelligence, Attendance % in Algorithm-II, Attendance % in Soft-Skill Development-IV, Attendance % in Design Thinking, Attendance % in Human Values and Ethics]
Index: []